box-sizing{
    box-sizing: border-box;
    display: flex;
}
body{
    display: flex;
    flex-direction: column;

}
.sidebar-box {
    display: flex;

}
.card {
    width: 586px;
    height: 160px;
    top: 582px;
    left: 694px;
    background-color: #ffff;
    
}
.card-active {
    width: 320px;
    height: 160px;
    top: 582px;
    left: 960px;
    background-color: #156963;

}